<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>faceRecognize.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7F2269A31E5B274000C825C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7F2269BF1E5B274000C825C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7F2269CA1E5B274000C825C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
